
li {
    margin: 10px 0;
  }

.clensky-oddil, .clensky-oddil-1{
    padding: 100px;
}

.clensky-oddil-1{
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 700px;
}

.kontent-oddilu-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    gap: 20px 70px;
}

.clensky-oddil{
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 700px;
}

.kontent-oddilu{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    gap: 20px 70px;
}

@media screen and (max-width: 1061px){
    .kontent-oddilu, .kontent-oddilu-1{
        flex-direction: column;
        width: 80vw;
    }
    h1{
        text-align: center;
        font-size: 30px;
    }
    .clensky-oddil{
        width: 100%;
        padding: 50px 20px 50px 20px;
    }
    .clensky-oddil-1{
        width: 100%;
        padding: 50px 20px 50px 20px;
    }
    
}