.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: var(--orange);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 32px;
    color: var(--white);
    font-family: New Rocker;
    text-decoration: none;
    filter: drop-shadow(0 4px 6px rgba(92, 8, 8, 0.5));
}

/* Normální stav - menu vedle loga */
.navbar {
    display: flex;
}

.navbar a {
    font-size: 20px;
    color: var(--white);
    text-decoration: none;
    margin-left: 40px;
    font-family: New Rocker;
    filter: drop-shadow(0 4px 6px rgba(92, 8, 8, 0.5));
    position: relative;
}

.navbar a::before {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    width: 100%;
    height: 2px;
    background: var(--white);
    transition: transform 0.4s;
    transform-origin: center;
}
  
.navbar a:hover::before,
.navbar a.active::before {
    transform: translateX(-50%) scaleX(1);
}

/* Skryjeme checkbox */
#menu-toggle {
    display: none;
}

/* HAMBURGER MENU - Skrývá navigaci pod 1279px */
.menu-icon {
    display: none;
    font-size: 32px;
    color: var(--white);
    cursor: pointer;
}

/* Media Query pro mobilní zobrazení */
@media (max-width: 1279px) {
    .menu-icon {
        display: block;
    }

    .navbar {
        display: none;
        flex-direction: column;
        position: fixed; /* Umožní pokrytí celé obrazovky */
        top: 0;
        left: 0;
        width: 100%; /* Zabere celou šířku */
        height: 100%; /* Zabere celou výšku */
        background: var(--orange);
        opacity: 0.9;
        border-radius: 0; /* Zrušení zaoblených rohů */
        box-shadow: none; /* Odstranění stínu */
        z-index: 1000; /* Zajištění, že bude nad ostatními prvky */
        padding-top: 70px; /* Posunutí obsahu dolů, aby nepřekrýval horní část */
    }
    
    

    .navbar a {
        display: block;
        margin: 15px 0;
        text-align: center;
    }

    /* Pokud je checkbox zaškrtnutý, zobrazí se menu */
    #menu-toggle:checked + .menu-icon + .navbar {
        display: flex;
    }
}

@media screen and (max-width: 831px){

}
