/* barvy */
:root{
    --primary: #98042D;
    --secondary: #FCC0C5;
    --orange: #BF4141;
    --white: #E1E2E7;
}
/* New Rocker */
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Pathway+Extreme:ital,opsz,wdth,wght@0,8..144,75..100,100..900;1,8..144,75..100,100..900&display=swap');
/* Yatra One */
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Pathway+Extreme:ital,opsz,wdth,wght@0,8..144,75..100,100..900;1,8..144,75..100,100..900&family=Yatra+One&display=swap');
/* Amarante */
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    row-gap: 50px;
}

body{
    background-color: var(--primary);
}

main{
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

h1{
    font-size: 40px;
    font-family: New Rocker;
    letter-spacing: 1px;
}

h2 {
    font-size: 30px;
    font-family: New Rocker;
    letter-spacing: 1px;
}

h3{
    font-size: 24px;
    font-family: New Rocker;
    letter-spacing: 1px;
}
  
p {
    font-size: 18px;
    font-family: Amarante;
}

li{
    font-size: 18px;
    font-family: Amarante;
}

a{
    font-size: 18px;
    font-family: Amarante;   
}
button{
    font-size: 18px;
    font-family: New Rocker;
}
